@import "tailwindcss";

@theme {
  --color-brand-50: #faf5ff;
  --color-brand-100: #f3e8ff;
  --color-brand-400: #95009c;
  --color-brand-500: #62009c;
  --color-brand-600: #30009c;
  --color-brand-700: #00039c;
  --color-accent-500: #9c0049;
}